@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
nav {
  background: url("./../assets/flash-2568383_1920.jpg");
}
nav a {
  color: #fff;
  font-size: large;
}
nav a:hover {
  color: gold;
}
img {
  max-width: 100%;
}
.box {
  width: 100px;
  height: 100px;
  background-color: indianred;
}

.player {
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  height: 90%;
  margin-top: 10%;
  background-color: #673ab7;
}
.player >  h2 {
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  color:white;
  font-style: italic;
  font-weight: bolder;
  margin-top: 30px;
}
.player > p {
  color :white; ;
}
.player > p:first-of-type {
  margin-top: 20px;
}
.player__icon {
  min-width: 100px;
  width: 150px;
  max-width: 200px;
}
.game-app {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.game-container {
  background-color: #fff;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
}
.game-container .grid-item {

  border: 2px solid rgba(128, 128, 128, 0.2);
}
@media screen and (min-width: 560px) {
  .game-container .grid-item {
    width: 50px;
    height: 50px;
  }
}

.unavailable {
  background-image: url("./../assets/wall.png");
  background-size: cover;
}

.main {
  background-image: url("./../assets/main.png");
  background-size: cover;
}

.weapon1 {
  background-image: url("./../assets/weapon1.png");
  background-size: cover;
}

.weapon2 {
  background-image: url("./../assets/weapon2.png");
  background-size: cover;
}

.weapon3 {
  background-image: url("./../assets/weapon3.png");
  background-size: cover;
}

.weapon4 {
  background-image: url("./../assets/weapon4.png");
  background-size: cover;
}

.player_one {
  background-image: url("./../assets/witch.png");
  background-size: cover;
  border: 2px solid dodgerblue;
}

.player_two {
  background-image: url("./../assets/thermometer.png");
  background-size: cover;
  border: 2px solid red;
}

.box-hover:hover {
  background-color: #1c7430;
  cursor: pointer;
}

.fight {
  display: none;
}
.box-hover {
  background-color: antiquewhite;
}
.box-hover:hover {
  background-color: #1c7430;
  cursor: pointer;
}




#game-over {
  display: none;
  width: 100%;
  height: 100%;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
#game-over > h1 {
  color: darkblue;
  font-style: italic;
}
#game-over #winner-name {
  color: #ffc107;
}
#game-over > svg {
  width: 500px;
}
.current_player {
  border: 5px dotted #fea;
}
